@media (min-width:1850px) {

    .home1{
        display: block;
        max-height: 100vh;
        height: 100%;
        padding-bottom: 2vw;
    }
     .home-sec1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1vw 3vw;
    }
    .Sec1-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 50%;
        height: 100%;
    }
    .Sec1-h1{
        padding: 2.2vw;
        padding-top: 1.5vw;
        padding-bottom: 3.8vw;
        margin-bottom: -3vw;
    }
    .Sec1-h{
        font-size: 6vw;
    }
    .Sec1-h2{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5vw 2vw;
        margin-top: -1vw;
    }
    .Sec1-h3{
        margin-top: -3vw;
        padding: 3.5vw;
    } 
    .quote{
    font-size: 1.6vw;
    padding: 1.4vw 0;
    padding-bottom: 1vw;
    }
    .home-button{
        max-width: 60vw;
        width: 20vw;
        height: 4vw;
        margin: 0.5vw 1vw;
        padding: 1.2vw 2.2vw;
    }
    .home-button p{
        font-size: 1.3vw;
    }
    .line1{
        
        width: 28vw;
    }
    .Sec1-rght{
        padding-top: 2vw;
    }
    .Sec1-img{
        width: 100%;
        height: 100%;
        /* background-color: bisque; */
    }
    .home-pic{
        width: 40vw;
        height: 40vw;
    }
    }

@media (min-width:2050px) {

  .home1{
      display: block;
      max-height: 100vh;
      height: 100%;
      padding-bottom: 2vw;
  }
   .home-sec1{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 4vw;
  }
  .Sec1-left{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      width: 50%;
      height: 100%;
  }
  .Sec1-h1{
      padding: 3vw;
      padding-bottom: 3.8vw;
      margin-bottom: -3vw;
  }
  .Sec1-h{
      font-size: 8vw;
  }
  .Sec1-h2{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.5vw 2vw;
      margin-top: -1vw;
  }
  .Sec1-h3{
      margin-top: -3vw;
      padding: 3.5vw;
  } 
  .quote{
  font-size: 2vw;
  padding: 1.58vw 0;
  }
  .home-button{
      max-width: 25vw;
      /* width: 20vw;
      height: 4vw; */
      margin: 1vw 0;
      padding: 1.2vw 2.2vw;
  }
  .home-button p{
      font-size: 1.4vw;
  }
  .line1{
      width: 25vw;
  }
  .Sec1-rght{
      padding-top: 2vw;
  }
  .Sec1-img{
      width: 100%;
      height: 100%;
      /* background-color: bisque; */
  }
  .home-pic{
      width: 60vw;
      height: 40vw;
  }
  }
@media (max-width:1025px) {
    .home-sec1{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .Sec1-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    .line1,
    .line2{
        display: none;
    }
    .home-sec1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .Sec1-rght{
        padding-top: 10vw;
    }
}
@media (max-width:769px) {
      .home-sec1{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .Sec1-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .Sec1-h1{
        padding: 0.85rem 0.6rem;
      }
    .Sec1-h2{
        font-size: 2.5rem;
        /* margin-top: 0rem; */
        padding: 1rem 0.85rem;
        padding-right: 1.2rem;
       }
    .Sec1-h3{
        padding: 1.8rem 0.6rem;
    }
    .Sec1-h{
        font-size: 3rem;
    }
    .h3{
        font-size: 3rem;
    }
    
    .Sec1-rght{
        padding-top: 10vw;
    }

}
@media (max-width:450px) {
    .home-sec1{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .Sec1-left{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .Sec1-h1{
      padding: 0.85rem 0.6rem;
    }
  .Sec1-h2{
    margin-top: -1.5vw;
      font-size: 2.5rem;
      padding: 1rem 0.85rem;
      padding-right: 1.2rem;
     }
  .Sec1-h3{
      padding: 1.8rem 0.6rem;
  }
  .Sec1-h{
      font-size: 3rem;
  }
  .h3{
      font-size: 3rem;
  }
  .Sec1-rght{
      padding-top: 10vw;
  }
  .why-btn{
    width: 55vw;
  }
}
/* @media (max-width:391px) {

    .home-sec1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .Sec1-h2{
        font-size: 2.5rem;
        margin-top: -1rem;
        padding: 1.5rem 1.2rem;
       }
    .Sec1-h3{
     padding: 1.5rem 1.2rem;
    }
    .Sec1-h{
        font-size: 3rem;
    }
    .h3{
        font-size: 3rem;
    }
    .Sec1-rght{
        padding-top: 10vw;
    }

} */