.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel { 
	height: 100vh;
	width: 100%;
	background: #f7f7f7;
	position: relative;
	text-align: center;
	font: 20px/100vh 'Courier New', monospace;
}